<ul class=" side-bar list-group mt-3  ">
    <li class="list-group-item">
        <a routerLink="dashboard" [routerLinkActive]="['router-link-active']">Dashboard</a>
    </li>
    <li class="list-group-item">
        <a routerLink="contact" [routerLinkActive]="['router-link-active']">Contact</a>
    </li>
    <li class="list-group-item">
        <a routerLink="crisis" [routerLinkActive]="['router-link-active']">Crisis Center</a>
    </li>
    <li class="list-group-item">
        <a routerLink="students" [routerLinkActive]="['router-link-active']">Students</a>
    </li>
</ul>